body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(232, 196, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: white;
    padding: 25px 35px;
    border-radius: 10px;
    box-shadow: 0 0 10px #e0aaaa;
    text-align: center;
    width: 350px;
}
input{
    width: 90%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #3a2fde;
}
button{
    background-color: rgb(244, 148, 191);
    padding: 8px;
    margin: 8px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: none;
    box-shadow: 0 0 10px #f63ac7;
    color: rgb(10, 1, 14);
}
button:hover{
    background-color: rgb(232, 196, 224);
}